@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face
{
    font-family: 'basheq';
    src: url('./assets//fonts/basheqvintagedemoversionregular-gwpme.otf');
    font-weight: normal;  
    font-style: normal;  
}


body {
  background: #1b1b1b;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 300vh;
  overscroll-behavior: none;
  
}
.index {
  background-image: url("/images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 99%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}
.box {
  width: 100px;
  height: 100px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  margin: 10px;
}
.App,
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  overscroll-behavior: none;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
 
  z-index: -1;
}



.st0 {
  fill: none;
}

.overscroll-behavior-none {
  overscroll-behavior: none;
}


.fade {
  background: linear-gradient(to bottom, #000000a1 10%, #000000);
}

iframe {
  width: 100%;
  background-color: #000000;
}
.horizon-container {
  background-color: #783536;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}

.panel:nth-child(odd) {
  width: 100vw;
  background-color: transparent;
}

.fill-form {
  background-image: url("/images/fillForm.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}
.fill-context {
  /* background-color: #00000092; */
  color: #f3ebd3;
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.fill-context > p{
  padding: 10px 0;
  font-size: 14px;
  letter-spacing: 1.5px;
}
.fill-btn{
  margin-top: 40px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.75px;
  border: 1px solid #fff;
  padding: 10px 20px;
  border-radius: 50px;
  background-color: #fff9f940;
  transition: all .3s;
  cursor: pointer;
}

.fill-btn:hover{
  color: #f3ebd3;
  background: linear-gradient(to right, #1b1919, #585858);
  border-color: #f3ebd3;
}
.block-base-size{
  width: auto;
  max-width: 430px;
  height: 100vh;
}


.bg-scroll{
  background-color: #00000069;
  height: 100vh;
  
}

.form-pc {
  background-image: url("/images/fillForm.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.groom {
  padding: 20px 20px 80px 40px;
  background-image: url("/images/groom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.bride {
  padding: 20px 20px 80px 40px;
  background-image: url("/images/bride.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.horizon-pc{
  width: 100%;
  height: 801px;
  background-color: #4B372A;
  background-image: url("/images/timeline.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.dress-code {
  background-image: url("/images/dress-code.jpg");
  width: 100vw;
  height: 100vh;
  max-width: 430px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.area-title > .sub-title{
  color: #F3EBD3;
  font-family: Arial;
  font-style: italic;
  font-size: 23px;
  letter-spacing: 2px;
  font-weight: 400;

}
.family-info{
  letter-spacing: 2px;
}

.font-basheq{
  font-family: "basheq";
  color: #F3EBD3;
  font-size: 52px;
  letter-spacing: 4px;
  line-height: 1.1;

}

.font-basheq-invite{
  font-family: "basheq";
  color: #F3EBD3;
  letter-spacing: 4px;
  line-height: 1;
}

.pannel-bg1{
  background-image: url("/images/frame/1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 320px;
  height: 420px;
}

.pannel-bg2{
  background-image: url("/images/frame/2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 320px;
  height: 420px;
}

.pannel-bg3{
  background-image: url("/images/frame/3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 320px;
  height: 420px;
}

.pannel-bg4{
  background-image: url("/images/frame/4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 320px;
  height: 420px;
}

.pannel-bg-blank{
  background-image: url("/images/frame/5.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 320px;
  height: 420px;
}

.fade-bg{
  background-color: #000000bf;
}

/* 響應式手機預覽外框 */
.app-bg {
  width: 100vw;
  min-height: 100vh;
  background: #222; /* 可自訂背景 */
  display: flex;
  justify-content: center;
  align-items: center;
}
.app-mobile-frame {
  width: 100vw;
  min-height: 100vh;
  max-width: 430px;
  background: #000;
  position: relative;
  box-shadow: 0 0 40px #0008;
  overflow: hidden;
}
.main-area{
  background-color: #000;
}
@media (min-width: 431px) {
  .main-area {
    width: 350px;
    height: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%)
  }
  .main-scroll{
    height: auto;
    will-change: auto;
    position: relative;
  }

  .block-base-size{
    width: 100%;
    max-height: 801px;
  }
  

}

/* 自訂全域滾動條樣式 */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}
::-webkit-scrollbar-track {
  background: transparent;
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: #bbb transparent;
}

